<script setup lang="ts">

</script>

<template>
<button>
    <slot></slot>
</button>
</template>

<style scoped lang="postcss">
button {
    $bg-color: #ffcc00;
    $size-append: 6px;
    $height: 57px;

    transition: all 0.2s;

    box-sizing: border-box;
    height: $height;
    background: $bg-color;
    border: none;
    font-size: 24px;
    padding: 0 18px;

    &:hover {
        transition: all 0.2s;
        transform: translateY(calc(-$size-append / 2));
        height: calc($height + $size-append);
    }
}
</style>
