<script setup lang="ts">
</script>

<template>
    <div class="container">
        <div class="numbers-row">
            <div class="numbers-row__number" v-for="n in 10">{{ n }}</div>
        </div>

        <div class="grid">
            <div class="col" v-for="n in 10" :key="n">
                <div class="col__cell" v-for="n in 10" :key="n"></div>
            </div>
        </div>

        <div class="letters-row">
            <!-- Перебор по алфавиту -->
            <div class="letters-row__letter" v-for="n in 10" v-html="'&#' + (1039 + n)"></div>
        </div>
    </div>
</template>

<style scoped lang="postcss">
.container {
    display: flex;
    justify-content: center;
    width: 641px;
    height: 645px;
    background: url("@/assets/cube.png");
}

.numbers-row {
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 460px;
    transform: rotateX(60deg) rotateZ(45deg) translateX(-100px) translateY(-180px);
    position: relative;
    /* left: -20%; */
    /* top: -20%; */

    &__number {}
}

.letters-row {
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 460px;
    transform: rotateX(-60deg) rotateZ(-45deg) translateX(100px) translateY(-180px);
    position: relative;

    &__letter {
        /* transform: rotateY(30deg) rotateX(30deg) rotateZ(45deg); */
    }
}

.grid {
    /* background: #fff; */
    transform: rotateX(60deg) rotateZ(45deg);
    width: 460px;
    height: 460px;
    display: flex;
    justify-content: space-evenly;
}

.col {
    border: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: space-evenly;
    width: 100%;

    &__cell {
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 100%;
    }
}
</style>
