<script setup lang="ts">

</script>
<template>
    <div class="container row">
        <a href="/" class="title"></a>
        <section class="invite row">
            <p>Пригласить к битве</p>
            <button class="invite__copy"></button>
            <a href="/">http://battleships.dev.sibirix.ru/placement/2566/WXMVbQIxZs</a>
        </section>
    </div>
</template>

<style scoped lang="postcss">
.container {
    font-size: 15px;
    justify-content: space-between;
}

.title {
    width: 188px;
    height: 44px;
    background: url("@/assets/title.png") no-repeat;
}

.invite {
    &__copy {
        background: url("@/assets/sea_link.svg") no-repeat;
        width: 29px;
        height: 29px;

        &:hover {
            opacity: 0.8;
        }
    }
}
</style>
