.display-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
}

.input-section {
    width: 30%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons-section {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.input-section .button-number {
    width: 33%;
    height: 2rem;
}