<script setup lang="ts">
    import { onMounted } from 'vue';
    import { Game } from './Game';

    let game: Game;
    let canvas: HTMLCanvasElement;

    onMounted(() => {
        canvas = document.querySelector('.game-canvas') as HTMLCanvasElement;

        const colors = {
            red: '#EB5757',
            green: '#219653',
            blue: '#2F80ED',
            cyan: '#56CCF2',
            purple: '#9B51E0',
            orange: '#F2994A',
            yellow: '#F2C94C',
        };

        game = new Game(canvas, colors);
    });
    // @ts-ignore
    const blowLeft = (e) => { game.blowAll(50, canvas.height + 40, e); };
    // @ts-ignore
    const blowRight = (e) => { game.blowAll(canvas.width - 50, canvas.height + 40, e); };

</script>


<template>
    <div class="container">
        <!-- <p>Ой! Такой страницы не существует!</p> -->
        <RouterLink :to="{ name: 'home' }">Перейти на главную</RouterLink>
        <div class="game">
            <canvas class="game-canvas" width="453" height="814">
            </canvas>
            <div class="row">
                <button class="button-blow" @click="(e) => blowLeft(e)">ЛЕВО</button>
                <button class="button-blow" @click="(e) => blowRight(e)">ПРАВО</button>
            </div>
        </div>
    </div>

</template>


<style scoped lang="postcss">

.container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url(@/assets/notFound.jpg) no-repeat center #EFFEFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.game-canvas {
    position: relative;
    top: 6rem;
    height: 723px;
    width: 402px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    top: -12rem;
}

.button-blow {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    border: 10px solid #54656F;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), #333333;

    color: white;
}
</style>
