/* Секция с кнопками */
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding-bottom: 70px;
    justify-content: center;

    button {
        text-shadow: #777 1px 1px 3px;
        color: white;
        border: 1px solid white;
        width: 134px;
        height: 36px;

        &:hover {
            background: #333;
        }
    }

    $radius: 8px;

    &__clear {
        padding-bottom: 4px;
        font-size: 13.33px;
        border-radius: $radius 0 0 $radius;
        background: linear-gradient(#999999, #b6b6b6);
        margin-left: auto;
    }

    &__save {
        padding-bottom: 6px;
        font-size: 14.67px;
        border-radius: 0 $radius $radius 0;
        background: linear-gradient(#54cb74, #66d586);
    }
}
