.footer-checkmark {
    position: relative;
    margin-left: 15px;
    height: 32px;
    display: flex;
    align-items: center;
    padding-bottom: 7px;

    label {
        font-size: 10.67px;
    }

    input {
        margin-right: 6px;
    }
}

/* Первая карта */
.card-glass {
    &__carousel {
        display: flex;
        align-items: center;
    }
    &__arrow {
        width: 9px;
        height: 15px;
        position: relative;
        top: -2px;
        background: url("../images/glass_scroll_arrow.png") no-repeat;
        &--left {
            left: 5%;
        }
        &--right {
            transform: rotate(180deg);
            right: 5%;
        }
    }

    &__image {
        mix-blend-mode: multiply;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 19px;
        left: 3px;
    }

    &__carousel-title {
        position: relative;
        top: 15px;
        text-align: center;
    }
}

/* Вторая карта */
.card-type {
    &__arrow {
        margin-left: auto;
        margin-right: calc($scroll-gap / 2 + $scroll-width);
        &--top {
            width: 15px;
            height: 9px;
            margin-top: 10px;
            background: url("../images/scroll_arrow_light.png");
            z-index: 10;
        }
        &--bottom {
            width: 15px;
            height: 9px;
            background: url("../images/scroll_arrow_dark.png");
        }
    }
}

/* Третья карта */
.card-alcohol-strength {
    margin-top: 13px;
    padding-right: 3px;
    p {
        font-size: 10.67px;
        color: #7a7a7a;
        margin: 0;
        padding-right: 15px;
        &:first-child {
            color: initial;
            font-size: 12px;
        }
    }

    .row {
        height: 29px;
        line-height: 29px;
        justify-content: space-between;
        &--selected {
            @mixin selected;
        }
    }
}

/* Четвёртая карта */
.card-cocktail-base {
    .scrollable {
        margin-top: 12px;
    }
}

/* Пятая карта */
.card-ingredients {
    $margin-left: 14px;
    $padding-left: 10px;
    $text-margin-left: 9px;

    position: relative;

    .row {
        align-items: center;
        margin-left: $margin-left;
        color: #999;
        padding: 7px 12px 7px $padding-left;
        /* width: 100%; */
        border-bottom: 1px solid #cccccc;

        p {
            margin: 0;
            display: inline-block;

            &:nth-child(1) {
                /* max-width: calc($col-width - $padding-left * 2 - 8em); */
                color: #003d9c;
                margin-left: 6px;
            }

            &:nth-child(2) {
                color: #4d4d4d;
                position: absolute;
                right: 0;
                margin-top: 1px;
                margin-right: 24px;

                span {
                    color: #6098ff;
                    margin-right: 5px;
                }
            }
        }
    }

    ol {
        padding: 0;
        list-style-position: inside;
        font-size: 12px;
        margin-top: 14px;
        margin-bottom: 8px;
        counter-reset: list 0;

        li {
            &:before {
                counter-increment: list;
                content: counter(list) ".";
            }
        }
    }

    button {
        background: none;
        border: none;
        @mixin dotted-text;
        margin-left: calc(
            $margin-left + $padding-left + $text-margin-left + 1px
        );
    }
    &__title {
        &--active {
            color: #ac4476 !important;
        }
    }
}

/* Девятая карта */

/* Десятая карта */

/* Одинадцатая карта */

/* Двенадцатая карта */
.card-description {
    height: 100%;

    input {
        height: 26px;
        width: 100%;
        margin-bottom: 8px;
    }

    &__main {
        height: 50%;
        padding: 20px 20px 20px 18px;
    }

    &__textarea {
        width: 100%;
        height: 125px;
    }
}
