/* Общие правила для карточки */
$header-height: 42px;

.card {
    width: 100%;
    height: 100%;
    background: linear-gradient(#e6e6e6, #cccccc);
    border-radius: 9px;
    overflow: hidden;
    align-items: center;

    &__header {
        font-size: 13.33px;
        padding: 2px 15px 0 17px;
        display: flex;
        justify-content: space-between;
        color: white;
        align-self: center;
        height: $header-height;
        background: linear-gradient(#6098ff, #6279ff);
        align-items: center;

        &--pink {
            background: linear-gradient(#9675c9, #7755b3);
        }

        &--light-blue {
            background: linear-gradient(#74c3ff, #54acff);
        }

        h2 {
            font-size: 18.67px;
            font-weight: normal;
        }

        p {
            font-size: 10.67px;
        }
    }
}
