/* Общие правила для тегов */

p,
label {
    font-size: 12px;
}

span {
    font-size: 13.33px;
}

h1 {
    margin-top: 40px;
    margin-left: 37px;
    margin-bottom: 0px;
    background: linear-gradient(#ffc261, 30%, #ffedcf, 50%, #ffc261);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffc261;
    font-weight: normal;
    font-size: 26.67px;
}

body {
    background: url("../images/background.png");

    font-family: "Tahoma", sans-serif;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    margin: auto;
    min-height: 100vh;
}
