/* Различные инпуты */

.checkbox-custom {
    opacity: 0;
    z-index: 1;

    & + i {
        display: inline;
        position: absolute;
        width: 14px;
        height: 14px;
        background: linear-gradient(#b3b3b3, #cccccc, #b3b3b3);
        border-radius: 2px;
        border: 1px solid white;
    }

    &:checked + i {
        background: linear-gradient(#6098ff, #83bdff, #6098ff);
    }

    &:checked:hover + i {
        background: blue;
    }

    &:hover + i {
        background: #fff;
    }
}

input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    padding-left: 10px;
    @mixin block-border;
    background: linear-gradient(#e6e6e6, #ffffff);

    &:hover {
        background: #fff;
    }
}

textarea {
    resize: none;
    @mixin block-border;
    background: linear-gradient(#e6e6e6 0%, #ffffff 20%);

    &:hover {
        background: #fff;
    }
}
