/* Сетка */
$gap-size: 30px;
$col-width: 202px;
$main-padding-horizornal: 38px;
$adaptive-threshold-point: $main-padding-horizornal * 2 - 1px;

.cards-grid {
    display: grid;
    grid-gap: $gap-size;
    grid-template-columns: repeat(4, $col-width);
    grid-auto-rows: 305px;

    padding: 38px $main-padding-horizornal 31px $main-padding-horizornal;

    .card-big {
        grid-column: span 2;
        width: auto;
        height: auto;
    }
}

.cards-small {
    display: grid;
    grid-row: span 1;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 29px;

    &__card-small {
        width: 100%;
        height: 100%;
    }
}

/* Мобильная сетка */
/* 3 колонки */
@media (max-width: calc($col-width * 4 + $gap-size * 3 + $adaptive-threshold-point)) {
    .cards-grid {
        grid-template-columns: repeat(3, $col-width);
        grid-template-rows: 305px;
    }

    .cards-small {
        grid-row: 3 / span 1 !important;
        grid-column: 1 / span 2 !important;
    }

    .card-big {
        grid-row: 4;
        grid-column: span 3 !important;
    }

    .card-description {
        grid-row: 5;
    }
}

/* 2 колонки */
@media (max-width: calc($col-width * 3 + $gap-size * 2 + $adaptive-threshold-point)) {
    .cards-grid {
        grid-template-columns: repeat(2, $col-width);
        grid-template-rows: 305px;
    }

    .card-big {
        grid-column: span 2 !important;
    }
}

/* 1 колонка */
@media (max-width: calc($col-width * 2 + $gap-size * 1 + $adaptive-threshold-point)) {
    .cards-grid {
        grid-template-columns: 80vw;
        grid-template-rows: 305px;
    }

    .card-big {
        grid-column: 1 !important;
    }

    .cards-small {
        grid-row: span 2 !important;
        grid-column: span 1 !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr !important;
    }
    .card-ingredients {
        p {
            &:nth-child(1) {
                width: 160px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
