/* Стили для градации */
.linear-grade {
    $font-size: 9.33px;
    $li-padding-top: 20px;
    $bar-height: 3px;
    $line-height: 5px;
    $arrow-height: 5px;

    padding: 0px 13px 0 9px;
    background: #e6e6e6;
    height: calc(
        $li-padding-top + $font-size + $line-height + $bar-height +
            $arrow-height * 2 + $li-padding-top - 2px
    );
    border-radius: 0 0 10px 10px;

    ul {
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        justify-content: space-around;

        li {
            padding-top: $li-padding-top;
            text-align: center;
            display: inline;
            flex-basis: 0;
            flex-grow: 1;
            color: #acacac;
            font-size: $font-size;
            font-family: inherit;

            &:after {
                display: block;
                content: "";
                width: 1px;
                height: $line-height;
                background: #b3b3b3;
                position: relative;
                top: 4px;
                left: 50%;
            }
        }
    }

    &__checked {
        color: #003d9c !important;
        position: relative;
        background: linear-gradient(to right, #cccccc, 70%, transparent);
        border: 1px solid white;
        border-top: 0;
        border-bottom: 0;

        &:before {
            display: block;
            content: "";
            width: 9px;
            height: $arrow-height;
            background: url("../images/arrow_grade.png");
            position: absolute;
            top: calc(
                $li-padding-top + $font-size + $line-height + $bar-height + 5px +
                    1px
            );
            left: 25%;
        }
    }

    &__bar {
        margin-top: 4px;
        width: calc(100% - 0.5em);
        position: relative;
        left: 0.25em;
        height: $bar-height;
        border: 1px solid #b3b3b3;
        background: #cccccc;

        &--colored {
            background: linear-gradient(to right, #049a32, #fefd00, #fa3600);
        }
    }
}
