/* Стили для прокручиваемых элементов */
$scroll-gap: 16px;
$scroll-width: 2px;

.scrollable {
    margin-top: 12px;
    margin-right: $scroll-gap;
    padding-right: calc($scroll-gap * 2 + $scroll-width);
    height: calc(100% - $header-height - 30px);
    overflow-y: scroll;
    overflow-x: hidden;

    span {
        font-size: 12px !important;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to right, #cccccc, #ffffff);
        background-repeat: no-repeat;
        width: 3px;
    }

    &::-webkit-scrollbar {
        width: 2px;
    }

    .text-item {
        $height: 29px;
        box-sizing: content-box;
        height: $height;
        line-height: $height;
        width: 100%;
        vertical-align: middle;
        margin: 0;
        padding-left: 26px;

        &--selected {
            @mixin selected;
        }
    }

    &--input-list {
        width: 100%;
        height: 70%;
        margin-top: 20px;
        vertical-align: middle;

        input {
            margin-right: 10px;
        }

        &__text-item {
            padding-left: 14px;
            margin-bottom: 16px;
        }
    }
}
