/* Стили для переключаемых элементов */
.toggle {
    margin-top: 2px;
    &__item {
        padding: 0 14px;
        display: flex;
        align-items: center;
        font-size: 10.67px;
        height: 28px;

        &:nth-child(2) {
            position: relative;
            left: -5px;
        }

        p,
        button {
            border: none;
            background: none;
            @mixin dotted-text;
            margin: auto;
            position: relative;
            top: -2px;
        }

        &--active {
            background: #fff;
            border-radius: 2px 2px 0 0;

            p {
                top: 0;
                color: #003d9c;
                text-decoration: none;
            }
        }
    }
}
