/* Утилитарные классы */
.row {
    width: inherit;
    position: relative;
    display: flex;
}

@define-mixin block-border {
    border-color: #fff #fff #ccc #fff;
    border-width: 1px;
    border-style: solid;
}

@define-mixin dotted-text {
    color: #333;
    font-size: 10.67px;
    text-decoration: underline dotted #a2a2a2;
    text-underline-offset: 0.3em;
}
@define-mixin selected {
    border: 1px solid white;
    border-left: none;
    border-right: none;
    color: #4664a7;
    background: linear-gradient(to right, #cccccc, 70%, transparent);
}

.text-item {
    vertical-align: middle;
    height: 26px;
    line-height: 26px;
    padding-left: 26px;
}

.inactive {
    color: #999999;
}
