@import "/node_modules/modern-normalize/modern-normalize.css";

* {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: #000;
    color: #fff;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
}

a {
    color: #fff;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}
