@import "/node_modules/modern-normalize/modern-normalize.css";

@font-face {
    font-family: 'PT Sans';
    src: url('@/assets/fonts/pt-sans-v17-latin_cyrillic-regular.woff2') format('truetype');
}

* {
    font-family: "PT Sans", sans-serif;
}
body {
    background: radial-gradient(
            circle at center 150px,
            #3f758c,
            #203046 20%,
            transparent 30%
        ),
        radial-gradient(circle at top, #1e2843, #000 80%),
        #06080d;
        background-repeat: no-repeat;
        min-height: 100vh;
}

main {
    padding-left: 100px;
    padding-right: 90px;

    min-height: 100vh;
    color: #fff;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: #fff;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}
