<script setup lang="ts">
    import { onBeforeMount, watch } from 'vue';
    import { useRoute } from 'vue-router';

    import router from '@/router';
    import { GameStatus } from '@/enums/GameStatus';

    import { useGameStore } from '@/store/game';

    import TheHeader from '@/components/TheHeader.vue';
    import GameField from '@/components/GameField.vue';
    import EnemyField from '@/components/EnemyField.vue';
    import TheChat from '@/components/TheChat.vue';
    import PanelDamage from '@/components/PanelDamage.vue';


    const route = useRoute();
    const gameStore = useGameStore();

    onBeforeMount(() => {
        if (!gameStore.gameId) {
            gameStore.getGameStatus(route);
        }
    });

    gameStore.createStatusWatcher(route);

    watch(
        () => gameStore.status == GameStatus.Results,
        () => {
            router.push(
                {
                    name: 'results',
                    params: {
                        gameId: gameStore.getCurrentId(),
                        playerCode: gameStore.getCurrentPlayer(),
                    },
                },
            );
        },
    );
</script>

<template>
    <main v-if="gameStore.gameId">
        <TheHeader isHome="true" />
        <div class="row main-section">
            <GameField class="game-field my-field" />
            <EnemyField class="game-field enemy-field" />
        </div>
        <div class="row panels-damage">
            <PanelDamage class="panels-damage__panel panels-damage__panel--mine" isMine/>
            <PanelDamage />
        </div>

        <TheChat class="chat"/>
    </main>
</template>

<style scoped lang="postcss">

@keyframes appearFieldFromTop {
  0% {
    opacity: 0;
    transform: translateY(-550px);
  }
  60% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes appearFieldFromBottom {
  0% {
    opacity: 0;
    transform: translateY(550px);
  }
  60% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
    .main-section {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .panels-damage {
        top: -65rem !important;
        flex-direction: column;
        align-items: center;

        &__panel {

            &--mine {
                margin-bottom: 35rem;
            }
        }
    }

    .enemy-field {
        margin-left: 0 !important;
        margin-top: 5rem;
    }

    .chat {
        margin-top: -50rem !important;
        margin-bottom: 2rem;
    }
}
.my-field {
    animation: 2s, ease-out 0.8s 1 appearFieldFromTop;

}
.enemy-field {
    margin-top: 6rem;
    margin-left: -5rem;
    animation: 2s, ease-out 0.8s 1 appearFieldFromBottom;
}
.panels-damage {
    width: 850px;
    justify-content: space-between;
    position: relative;
    top: -22rem;
    left: -10rem;
}
.chat {
    margin-top: -21rem;
}
</style>
