<script setup lang="ts">
    import { onBeforeMount } from 'vue';

    import { useGameStore } from '@/store/game';
    import { useShipStore } from '@/store/ships';
    import { useFieldStore } from '@/store/fields';

    import ButtonBase from '@/components/ButtonBase.vue';
    import TheHeader from '@/components/TheHeader.vue';
    import GameField from '@/components/GameField.vue';
    import SidebarShips from '@/components/SidebarShips.vue';


    const gameStore = useGameStore();
    const shipStore = useShipStore();
    const fieldStore = useFieldStore();

    onBeforeMount(() => {
        shipStore.initializeShips();
        fieldStore.initializeFields();
        gameStore.resetGame();
    });

</script>
<template>
    <main>
        <TheHeader isHome="true"/>

        <div class="row main-section">
            <SidebarShips class="ships-sidebar" />
            <GameField class="game-field" isHome="true"/>
        </div>
        <ButtonBase class="greetings-button" @click="gameStore.startGame()">
            — Для начала, расставь корабли, каналья!
        </ButtonBase>

    </main>
</template>

<style scoped lang="postcss">
.main-section {
    align-self: center;
}

.ships-sidebar {
    margin-top: 106px;
    margin-left: 18px;
}

.game-field {
    margin-top: 112px;
    margin-left: 76px;
}


.greetings-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
</style>
