<script setup lang="ts">
    import { useRoute } from 'vue-router';
    import { onBeforeMount, watch } from 'vue';

    import router from '@/router';
    import { GameStatus } from '@/enums/GameStatus';

    import { useNotificationsStore } from '@/store/notifications';
    import { useShipStore } from '@/store/ships';
    import { useGameStore } from '@/store/game';

    import ButtonBase from '@/components/ButtonBase.vue';
    import TheHeader from '@/components/TheHeader.vue';
    import GameField from '@/components/GameField.vue';
    import SidebarShips from '@/components/SidebarShips.vue';
    import TheNavigation from '@/components/TheNavigation.vue';



    const route = useRoute();

    const shipStore = useShipStore();
    const gameStore = useGameStore();

    const buttonDisabled = () => {
        if (!shipStore.myShipsReady || gameStore.meReady) return true;
    };

    const buttonStatus = () => {
        let styles = '';

        if (buttonDisabled()) {
            styles += 'inactive';
        }

        return styles;
    };

    onBeforeMount(() => {
        if (!gameStore.gameId) {
            gameStore.getGameStatus(route);
        }
        gameStore.createStatusWatcher(route);
    });


    const ready = () => {
        if (shipStore.myShipsReady) {
            gameStore.ready(route);
        } else {
            const notificationsStore = useNotificationsStore();

            notificationsStore.createNotification({ type: 'error', text: 'Что-то пошло не так! Возможно Вы не расставили все корабли!', animationTime: 3000 });
        }
    };
    const enemyWatcher = () => {
        watch(
            () => shipStore.game.meReady,
            () => {
                gameStore.createStatusWatcher(route);
            },
        );
    };

    watch(
        () => gameStore.status == GameStatus.Battle,
        () => {
            router.push(
                {
                    name: 'battle',
                    params: {
                        gameId: gameStore.getCurrentId(),
                        playerCode: gameStore.getCurrentPlayer(),
                    },
                },
            );
        },
    );
    enemyWatcher();

    const buttonText = () => gameStore.meReady ? '— Ожидаем противника' : '— Все готово, адмирал! Начать игру!';
</script>

<template>
    <main v-if="gameStore.gameId">
        <TheHeader />
        <div class="row main-section">
            <SidebarShips class="ships-sidebar" />
            <Transition name="field"><GameField class="game-field" /></Transition>
        </div>

        <ButtonBase :disabled="buttonDisabled()" @click="ready" class="begin-button" :styles="buttonStatus()">
            {{ buttonText() }}
        </ButtonBase>

        <TheNavigation class="navigation" />
    </main>
</template>

<style scoped lang="postcss">

@keyframes appearShipsAnimation {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appearFieldAnimation {
  0% {
    opacity: 0;
    transform: translateY(550px);
  }
  80% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes disappearFieldAnimation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-500px);
  }
}

.field-leave-active {
    transition: opacity 0.5s ease;
    animation: 2s, ease-out 0.8s 1 disappearShipsAnimation;
}

.field-enter-from,
.field-leave-to {
    animation: 2s, ease-in 0.8s 1 disappearShipsAnimation;
    overflow: hidden;
}

.ships-sidebar {
    margin-top: 106px;
    margin-left: 18px;
    animation: 2s, ease-out 0.8s 1 appearShipsAnimation;
}

.game-field {
    margin-top: 112px;
    margin-left: 76px;
    animation: 2s, ease-in-out 1s 1 appearFieldAnimation;
}


.begin-button {
    position: relative;
    top: -250px;
}

.navigation {
    margin-top: -145px;
}
</style>
