<script setup lang="ts">
    import { onBeforeMount } from 'vue';
    import { useRoute } from 'vue-router';

    import { useGameStore } from '@/store/game';

    import TheHeader from '@/components/TheHeader.vue';
    import TheChat from '@/components/TheChat.vue';
    import ButtonBase from '@/components/ButtonBase.vue';


    const route = useRoute();
    const gameStore = useGameStore();

    onBeforeMount(() => {
        if (!gameStore.gameId) {
            gameStore.getGameStatus(route);
        }
        gameStore.createStatusWatcher(route);
    });
</script>

<template>
    <main v-if="gameStore.gameId" class="wrapper">
        <TheHeader isHome="true" />
        <div class="main-section">
            <div class="message" v-if="gameStore.myTurn"><h1>Вы выиграли! Время закрепить свою победу!</h1></div>
            <div class="message" v-else><h1>Вы проиграли! Время взять реванш!</h1></div>
            <ButtonBase @click="gameStore.startGame()" class="new-game">
                Начать новую игру!
            </ButtonBase>
        </div>
        <TheChat class="chat"/>
    </main>
</template>

<style scoped lang="postcss">
.wrapper {
    height: 100vh;
}
.main-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat {
    margin-bottom: 4rem;
}

.new-game {
    &:hover {
            transform: none;
            height: 57px;
        }
}
</style>
