<script setup lang="ts">
    const props = defineProps<{
        styles?: string,
    }>();

    const currentButtonClasses = () => {
        let currentClass = '';

        if (props.styles) currentClass += props.styles;

        return currentClass;
    };

</script>

<template>
    <button :class="currentButtonClasses()">
        <slot></slot>
    </button>
</template>

<style scoped lang="postcss">
button {
    $bg-color: #ffcc00;
    $size-append: 6px;
    $height: 57px;

    transition: all 0.2s ease;

    box-sizing: border-box;
    height: $height;
    background: $bg-color;
    border: none;
    font-size: 24px;
    padding: 0 18px;

    box-shadow: 0 0 0 #fc0, 0 0 0 #fc0;

    &:hover {
        cursor: pointer;
        transition: all 0.2s;
        box-shadow: 0 -3px 0 #fc0, 0 3px 0 #fc0;
    }
}

.inactive {
    background: #999;
    opacity: .5;
    color: black;

    &:hover {
        box-shadow: none;
        cursor: not-allowed;
        transition: none !important;
        transform: none !important;
        height: calc($height);
    }
}
</style>
