<script setup lang="ts">

</script>

<template>
    <div class="container">
        <div class="clouds"></div>
    </div>

</template>

<style scoped lang="postcss">
$width: 852px;

@keyframes clouds-movement {
    from {
        transform: translateX(-30%);
    }

    to {
        transform: translateX(100%);
    }
}

.container {
    z-index: -1;
    height: 474px;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.clouds {
    animation: 200s infinite alternate clouds-movement;

    background: url("@/assets/clouds.png");
    opacity: 0.5;
    width: $width;
    height: 474px;

    position: absolute;
    transform: translateX(90%);
}
</style>
