<script setup lang="ts">
    import { ref } from 'vue';
    import { useRoute } from 'vue-router';

    import { useGameStore } from '@/store/game';
    import { useFieldStore } from '@/store/fields';

    import { Ship } from '@/types/ship';
    import FieldLayout from './FieldLayout.vue';


    defineProps<{
        isHome?: string,
    }>();

    const route = useRoute();
    const gameStore = useGameStore();
    const fieldStore = useFieldStore();

    const field = ref<HTMLElement | null>(null);

    if (gameStore.myTurn == true) {
        field.value?.children[1].classList.add('active');
    }

    const handleClick = (x: number, y: number) => {
        gameStore.shoot(x as Ship['x'], y as Ship['y'], route);
    };

    const currentCellClasses = (x: number, y: number) => {
        let currentClass = '';
        const isMyTurn = gameStore.myTurn;

        if (isMyTurn == true) {
            currentClass += ' active';
        }

        if (fieldStore.fieldEnemy[x][y][1] == 1) {
            if (fieldStore.fieldEnemy[x][y][0] !== 'empty' && fieldStore.fieldEnemy[x][y][0] !== 'hidden') {
                currentClass += ' shot shot--ship';
            } else {
                currentClass += ' shot shot--empty';
            }
        }

        return currentClass;
    };

</script>

<template>
    <FieldLayout
        :current-cell-classes="currentCellClasses"
        @handle-click="handleClick"
        :isHome="isHome"
    />
</template>

<style scoped lang="postcss">

</style>
