<script setup lang="ts">
    import { useShipStore } from '@/store/ships';

    defineProps<{
        currentCellClasses: Function,
        isHome?: string,
    }>();

    const shipStore = useShipStore();
</script>

<template>
    <div class="container">
        <section  v-if="!isHome" class="field" ref="field" :class="{'active': shipStore.clickedShipId}">
            <div class="numbers-row">
                <div class="numbers-row__number" v-for="n in 10" :key="n">{{ n }}</div>
            </div>

            <div class="grid">
                <div class="col" v-for="x in 10" :key="x">
                    <div v-for="y in 10"
                         :key="y"
                         class="col__cell"
                         :class="currentCellClasses(x - 1, y - 1)"
                         @click="$emit('rotate', x - 1, y - 1)"
                         @mouseup="$emit('handleClick', x - 1, y - 1)"
                         @mousedown="$emit('handleDrag', x - 1, y - 1)"
                    >
                    </div>
                </div>
            </div>

            <div class="letters-row">
                <!-- Перебор по алфавиту -->
                <div class="letters-row__letter" v-for="n in 9" v-html="'&#' + (1039 + n)" :key="n"></div>
                <div class="letters-row__letter">
                    К
                </div>
            </div>
        </section>

    </div>
</template>

<style scoped lang="postcss">
.container {
    font-size: 11px;
    width: 641px;
    height: 645px;
    background: url("@/assets/cube.png");
}

.field {
    display: flex;
    justify-content: center;
    margin-top: -64px;
    margin-left: -5px;
}

.numbers-row {
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 375px;
    transform: rotate(63deg) translateX(-25px) translateY(-90px);
    position: relative;

    &__number {
        user-select: none;
        opacity: 0.5;
        transform: rotate(-63deg);
    }
}

.letters-row {
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 375px;
    transform: rotate(-63deg) translateX(28px) translateY(-84px);
    position: relative;

    &__letter {
        user-select: none;
        transform: rotate(63deg);
        opacity: 0.5;
    }
}

.grid {
    transform: rotateX(60deg) rotateZ(45deg);
    width: 453px;
    height: 453px;
    display: flex;
    justify-content: space-evenly;
}

.col {
    border: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: space-evenly;
    width: 100%;

    &__cell {
        user-select: none;
        position: relative;
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;

        &::after {
            z-index: 2;
            content: "";
            width: 100%;
            height: 100%;
        }
    }
}

.active {

    .col__cell {
        &:hover {
            background: #00000055;
            border: 1px solid green;
            box-shadow: 7px 2px 27px 4px green;;
        }
    }
}

.has-ship {
    z-index: 1;

    &:hover {
        cursor: move;
    }

    &--vertical {
        transform: scale(-1, 1) rotate(90deg);
    }

    &--size-1 {
        &::before {
            left: -5px;
            top: 8px;
            transform: rotate(-45deg) scale(1, 2);
            display: block;
            position: absolute;
            width: 44px;
            height: 24px;
            content: "";
            background: url("@/assets/ship-1.png") no-repeat left;
        }
    }

    &--size-2 {
        &::before {
            left: 0;
            top: -5px;
            transform: rotate(-45deg) scale(1, 2);
            display: block;
            position: absolute;
            width: 73px;
            height: 47px;
            content: "";
            background: url("@/assets/ship-2.png") no-repeat left;
        }

    }

    &--size-3 {
        &::before {
            left: 0;
            transform: rotate(-45deg) scale(1, 2);
            display: block;
            position: absolute;
            top: -15px;
            width: 100px;
            height: 63px;
            content: "";
            background: url("@/assets/ship-3.png") no-repeat left;
        }

    }

    &--size-4 {
        &::before {
            left: 0;
            top: -60px;
            transform: rotate(-45deg) scale(1, 2);
            display: block;
            position: absolute;
            width: 143px;
            height: 106px;
            content: "";
            background: url("@/assets/ship-4.png") no-repeat left;
        }

    }

}

.shot {
    display: flex;
    justify-content: center !important;
    align-items: center;
    &--empty {
        &::after {
            z-index: 1;
            content: "";
            background: black;
            box-shadow: 3px 3px 6px 3px black;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
    &--ship {
        position: relative;
        background: #840f00cb;
        border: 1px solid red;
        box-shadow: 7px 2px 27px 4px red;

        &::after {
            content: "";
            background: url("@/assets/explosion.png") no-repeat;
            position: absolute;
            left: -30px;
            top: -30px;
            transform: rotate(-45deg) scale(1, 2);
        }
    }
}

.active {

    &.col__cell {
        &:hover {
            background: #ff770055;
            cursor: crosshair;
            border: 1px solid rgb(255, 98, 0);
            box-shadow: 7px 2px 27px 4px rgb(255, 98, 0);
        }
    }
}
</style>
