<script setup lang="ts">
    import { useShipStore } from '@/store/ships';
    import { useFieldStore } from '@/store/fields';

    import { Ship } from '@/types/ship';

    import FieldLayout from './FieldLayout.vue';

    defineProps<{
        isHome?: string,
    }>();

    const shipStore = useShipStore();
    const fieldStore = useFieldStore();

    const handleClick = (x: number, y: number) => {
        if (shipStore.clickedShipId !== null) {
            const currentShip = shipStore.myShips.find((ship) => { return ship.id == shipStore.clickedShipId;}) as Ship;

            if (currentShip.x == x && currentShip.y == y) {
                document.documentElement.style.cursor = 'default';
                shipStore.clickedShipId = null;

                return;
            }

            if (x >= 0 && x <= 9) {
                shipStore.placeShip({
                    id: shipStore.clickedShipId,
                    x: x as Ship['x'], y: y as Ship['y'],
                    orientation: currentShip?.orientation,
                    damage: 0,
                });
                shipStore.clickedShipId = null;
            }
        }
        document.documentElement.style.cursor = 'default';
    };

    const handleDrag = (x: number, y: number) => {
        const ship = shipStore.getShipByCoordinates(x, y);

        if (ship) {
            shipStore.clickedShipId = ship.id;
        }
        document.documentElement.style.cursor = 'grabbing';
    };

    const currentCellClasses = (x: number, y: number) => {

        let currentClass = '';

        const currentShip = shipStore.myShips.find((element: Ship) => {
            return (element.x == x && element.y == y);
        });

        if (currentShip) {
            if (currentShip['orientation'] == 'vertical') {
                currentClass += ` has-ship has-ship--vertical has-ship--size-${currentShip?.id[0]}`;
            }
            else {
                currentClass += ` has-ship has-ship--size-${currentShip?.id[0]}`;
            }
        }

        if (fieldStore.fieldMy.length == 0) { return currentClass; }

        if (fieldStore.fieldMy[x][y][1] == 1) {
            if (fieldStore.fieldMy[x][y][0] !== 'empty' && fieldStore.fieldMy[x][y][0] !== 'hidden') {
                currentClass += ' shot shot--ship';
            }
            else currentClass += ' shot shot--empty';
        }

        return currentClass;
    };

    const rotate = (x: number, y: number) => {
        const currentShip = shipStore.myShips.find((element: Ship) => {
            return (element.x == x && element.y == y);
        });

        if (currentShip) {
            shipStore.rotateShip(currentShip);
        }
    };

</script>

<template>
    <FieldLayout
        :current-cell-classes="currentCellClasses"
        @handle-click="handleClick"
        @rotate="rotate"
        @handle-drag="handleDrag"
        :isHome="isHome"
    />
</template>

<style scoped lang="postcss">
</style>
