<script setup lang="ts">
    import { useNotificationsStore } from '@/store/notifications';

    const notificationsStore = useNotificationsStore();

</script>

<template>
    <div class="container" v-if="notificationsStore.currentNotification" :class="notificationsStore.currentNotification.type">
        <h1 class="message" > {{ notificationsStore.currentNotification.text }}</h1>
    </div>

</template>

<style scoped lang="postcss">
@keyframes slide {
    from {
        transform: translate(-50%, -50%) translateY(30px);
        opacity: 0;
    }

    30% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }

    60% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50%) translateY(-30px);
        opacity: 0;
    }
}
.container {
    $height: 100px;
    $width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: $width;
    min-height: $height;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;

    animation: 3s normal forwards slide;
}

.message {
    width: 350px;
}

.normal {
    background: #ffcc00;
}

.error {
    background: rgb(175, 62, 42);
    color: white;
}
</style>
