<script setup lang="ts">
    import { ref } from 'vue';

    import { useShipStore } from '@/store/ships';

    import { Ship } from '@/types/ship';


    const props = defineProps<{
        isMine?: boolean,
    }>();

    const shipStore = useShipStore();

    const ships = props.isMine ? ref(shipStore.myShips) : ref(shipStore.enemyShips);
    const textHeader = props.isMine ? 'Твой флот ' : 'Флот врага ';
    const textDamage = () => 'повреждения ' + (props.isMine ? shipStore.myShipsDamagePercentage : shipStore.enemyShipsDamagePercentage) + '%';

    const currentPartClass = (thisShip: Ship, part: number) => {
        let currentClass = '';

        if (thisShip.damage >= part) {
            currentClass += 'ship--damaged';
        }

        return currentClass;
    };
</script>

<template>
    <div class="wrapper">
        <div class="text row">
            <h1 class="text__header">{{ textHeader }}</h1> {{ textDamage() }}
        </div>

        <div class="ships row">
            <TransitionGroup name="ships">
                <div class="ship row" v-for="ship in ships" :key="ship.id">
                    <div class="ship__part" v-for="part in Number(ship['id'][0])" :key="part" :class="currentPartClass(ship, part)">
                    </div>
                </div>
            </TransitionGroup>

        </div>
    </div>

</template>

<style scoped lang="postcss">
@keyframes appearShipsAnimation {
  0% {
      opacity: 0;
      transform: translateY(-30px);
  }
  80% {
      transform: translateY(5px);

  }
  100% {
      transform: translateX(0);
  }
}

.ship__part {
    &:nth-child(1) {
        animation: 1s, ease-in 0.4s 1 appearShipsAnimation;
    }
    &:nth-child(2) {
        animation: 1s, ease-in 1.2s 1 appearShipsAnimation;
    }
    &:nth-child(3) {
        animation: 1s, ease-in 1.4s 1 appearShipsAnimation;
    }
    &:nth-child(4) {
        animation: 1s, ease-in 1.8s 1 appearShipsAnimation;
    }
}
.ships-enter-active,
.ships-leave-active{
    transition: all 5s ease;
}

.ships-enter-from,
.ships-leave-to {
    transform: translateX(-20px);
    opacity: 0;
}

.text {
    align-items: flex-end;
    margin-bottom: 20px;

    &__header {
        margin: 0;
        margin-right: 10px;
    }
}
.ships {
    /* Магическое число!! */
    width: 200px;
    flex-wrap: wrap;
}

.ship {
    $width: 22px;
    $height: 17px;
    margin-right: 18px;
    margin-bottom: 10px;

    &__part {
        background: white;
        width: $width;
        height: $height;
        margin-left: 2px;
    }

    &--damaged {
        opacity: .2;
    }
}
</style>
