<script setup lang="ts">
    import { useRoute } from 'vue-router';

    import { useShipStore } from '@/store/ships';

    import { type Ship } from '@/types/ship';


    const route = useRoute();
    const shipStore = useShipStore();

    const handleDragStart = (ship: Ship) => {
        if (route.name == 'home') return;
        shipStore.clickedShipId = ship.id;
        document.documentElement.style.cursor = 'grabbing';
    };

    const currentCellClasses = (ship: Ship) => {
        let currentClass = '';

        if (route.name == 'home') currentClass += 'not-grabbable ';
        const currentShip = shipStore.myShips.find((element: Ship) => {
            return (element.id == ship.id);
        });

        if (currentShip && currentShip.x !== undefined) {
            currentClass += 'inactive ';
        }
        currentClass += `ship-section__size-${ship.id['0']}`;

        return currentClass;
    };

    const getShipsBySize = (size: string) => {
        return shipStore.myShips.filter((element: Ship) => {
            return element.id[0] == size;
        });
    };

</script>

<template>
    <section class="ship-section">
        <TransitionGroup name="ships">
            <div v-for="row in 4" :key="row" class="row">
                <div v-for="ship in getShipsBySize(row.toString())"
                     class="ship"
                     :key="ship.id"
                     @mousedown="handleDragStart(ship)"
                     :class="currentCellClasses(ship)">
                </div>
            </div>
        </TransitionGroup>

    </section>
</template>

<style scoped lang="postcss">
.ships-enter-active,
.ships-leave-active{
    transition: all 0.3s ease;
}

.ships-enter-from,
.ships-leave-to {
    opacity: 0;
}

.ship-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    width: 228px;
    user-select: none;

    &__size-1 {
        background: url("@/assets/ship-1.png");
        width: 44px;
        height: 24px;
        margin-left: -2px;
        margin-right: 9px;
    }

    &__size-2 {
        background: url("@/assets/ship-2.png");
        width: 73px;
        height: 47px;
        margin-left: -1px;
        margin-bottom: 51px;
    }

    &__size-3 {
        background: url("@/assets/ship-3.png");
        width: 100px;
        height: 63px;
        margin-left: -2px;
        margin-right: 2px;
        margin-bottom: 53px;
    }

    &__size-4 {
        background: url("@/assets/ship-4.png");
        width: 143px;
        height: 106px;
        margin-bottom: 47px;
    }
}

.ship {
    cursor: grab;
}

.inactive {
    opacity: 0.5;
}

.not-grabbable {
    cursor: default;
}
</style>
