<script setup lang="ts">
    import { useRoute } from 'vue-router';
    import { onMounted, ref, watch } from 'vue';

    import { useChatStore } from '@/store/chat';

    import ButtonBase from './ButtonBase.vue';

    const route = useRoute();
    const chatStore = useChatStore();
    const chat = ref();

    chatStore.getMessages(route);
    chatStore.createMessagesWatcher(route);

    const scrollToBottom = () => {
        chat.value.scrollTo({top: chat.value.scrollHeight});
    };

    watch(chatStore.messages, () => {
        scrollToBottom();
    });

    onMounted(() => {
        scrollToBottom();
    });
</script>

<template>
    <section class="chat">
        <div ref="chat" class="messages">
            <div class="message" v-for="(message, index) in chatStore.messages" :key="index">
                <div class="message__sender">{{ message.my == true ? 'Вы: ' : 'Противник: ' }}</div>
                <div class="message__text">{{ message.message }}</div>
            </div>
        </div>
        <div class="input row">
            <input
                type="text"
                class="input__field"
                v-model="chatStore.typedMessage"
                @keyup.enter="chatStore.sendMessage(route)">
            <ButtonBase class="input__send" @click="chatStore.sendMessage(route)">Отправить</ButtonBase>
        </div>
    </section>
</template>

<style scoped lang="postcss">
.messages {
    overflow-y: scroll;

    padding: 1rem;
    border: 1px solid #383839;
    height: 144px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
        width: 16px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px 10px #343435;
        border: solid 6px transparent;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px white;
        border: solid 6px transparent;
    }

}
.message {
    display: inline;
    margin-bottom: 1.5rem;
    &__sender {
    display: inline;

        color: rgb(0, 132, 255);
    }

    &__text {
        display: inline;
    }
}
.chat {
    width: 100%;
}
.input {
    &__field {
        flex: auto;
        background: transparent;
        border: 1px solid #383839;
        color: white;

        &:focus-visible {
            border: none;
        }

    }

    &__send {
        width: 150px;
        justify-self: flex-end;

        &:hover {
            transform: none;
            height: 57px;
        }
    }
}
</style>
