<script setup lang="ts">
    import { useRoute } from 'vue-router';

    import router from '@/router';

    import { useGameStore } from '@/store/game';

    const gameStore = useGameStore();
    const route = useRoute();

    const props = defineProps<{
        isHome?: string,
    }>();

    const inviteLink = props.isHome
        !== 'true'
        ? window.location.origin + router.resolve(
            {
                name: 'preparation',
                params: {
                    gameId: route.params.gameId,
                    playerCode: gameStore.inviteLink,
                }}).href : '';

    const copy = () => {
        navigator.clipboard.writeText(inviteLink);
    };


</script>
<template>
    <div class="container row">
        <RouterLink :to="{ name: 'home'}" class="title" />
        <section class="invite row" v-if="!isHome">
            <p class="invite__text">Пригласить к битве</p>
            <button class="invite__copy" @click="copy"></button>
            <p class="invite__link">
                {{ inviteLink }}
            </p>
        </section>
    </div>
</template>

<style scoped lang="postcss">
.container {
    z-index: 1;
    width: 100%;
    font-size: 15px;
    justify-content: space-between;
    padding-top: 29px;
    padding-left: 17px;
    padding-right: 25px;
}

.title {
    width: 188px;
    height: 44px;
    background: url("@/assets/title.png") no-repeat;
}

.invite {
    align-items: center;
    align-self: flex-start;
    margin-top: -6px;

    &__text {
        margin: 0;
    }

    &__copy {
        background: url("@/assets/sea_link.svg") no-repeat;
        border: none;
        width: 29px;
        height: 29px;
        margin-left: 18px;
        margin-right: 18px;

        &:hover {
            opacity: 0.8;
            cursor: copy;
        }
    }

    &__link {
        color: #0099cc;
        text-decoration: dotted underline;
        text-underline-offset: 5px;
    }
}
</style>
