<script setup lang="ts">
    import { useRoute } from 'vue-router';

    import { useFieldStore } from '@/store/fields';
    import { useShipStore } from '@/store/ships';


    const fieldStore = useFieldStore();
    const shipStore = useShipStore();
    const route = useRoute();
</script>

<template>
    <section class="row container">
        <div class="nav-item move">Мышью перетаскивай корабли на поле</div>
        <div class="nav-item rotate">Кликай для повтора корабля</div>
        <div class="nav-item shuffle" @click="shipStore.placeRandomShips(route)">Расставить в случайном порядке</div>
        <div class="nav-item delete" @click="fieldStore.clearField(route)">С глаз долой!</div>
    </section>
</template>

<style scoped lang="postcss">
* {
    font-size: 14px;


}

.container {
    width: 100%;
    padding: 0 25px 0 20px;
}

.nav-item {
    display: flex;
    align-items: center;

    margin-right: 50px;

    &::before {
        content: "";
        display: inline-block;
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        margin-right: 30px;
    }
}

.move {
    &::before {
        background-image: url(@/assets/sea_drag.svg);
    }
}

.rotate {
    &::before {
        background-image: url(@/assets/sea_rotate.svg);
    }
}

.shuffle {
    text-decoration: dotted underline;
    text-underline-offset: 5px;

    &:hover {
        cursor: pointer;
        opacity: .5;
    }

    &::before {
        background-image: url(@/assets/sea_random.svg);
    }
}

.delete {
    text-decoration: dotted underline;
    text-underline-offset: 5px;

    &:hover {
        cursor: pointer;
        opacity: .5;
    }

    &::before {
        background-image: url(@/assets/sea_clear.svg);
    }
}
</style>
