<script setup lang="ts">
import ButtonBase from "@/components/ButtonBase.vue";
import TheHeader from "@/components/TheHeader.vue";
import GameField from "@/components/GameField.vue";
</script>
<template>
    <main>
        <TheHeader />
        <GameField />
        <ButtonBase>— Для начала, расставь корабли, каналья!</ButtonBase>
    </main>
</template>

<style scoped lang="postcss">
.title {
    width: 188px;
    height: 44px;
    background: url("@/assets/title.png");
}
</style>
