<script setup lang="ts">
    import Clouds from './components/Clouds.vue';
    import Notification from './components/Notification.vue';

</script>

<template>
    <div>
        <Clouds />
        <RouterView />
        <Notification/>
    </div>
</template>

<style lang="postcss">
@import "@/styles/main.css";
</style>
