:root {
    /* General */
    --container-width: 472px;
    --main-1-paddings: 42px 18px 0px 13px;
    /* Colors */
    --text-active: white;
    --text-inactive: #1b4680;
    /* Header */
    --header-height: 39px;
    --header-inner-padding: 5px;
    --header-image-margin: 0 9px 0 -3px;
    --header-arrow-width: 10px;
    /* Description */
    --breadcrumb-width: 32px;
    --breadcrumb-height: 24px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

textarea {
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

li>img {
    display: inline-block;
    margin: var(--header-image-margin);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: var(--container-width);
    margin: auto;
}

.text-active {
    color: var(--text-active);
}

.text-inactive {
    color: var(--text-inactive);
}

.ingredients-nav>img {
    margin-right: 0;
    position: relative;
    top: -2px;
    left: -7px;
}

nav {
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgb(71, 71, 71);
    width: 100%;
    display: flex;
    height: var(--header-height);
    background: linear-gradient(rgb(129, 186, 232), rgb(74, 132, 203));
}

nav li {
    padding: 0 var(--header-inner-padding);
    align-items: center;
    position: relative;
    font-size: 13px;
    width: fit-content;
    height: 100%;
    vertical-align: middle;
    display: inline-flex;
    margin-right: 12px;
}

nav img {
    position: relative;
    left: -7px;
    top: -3px;
}

.progress-active {
    background: linear-gradient(rgb(86, 153, 207), rgb(54, 104, 166));
}

.progress-inactive {
    background: linear-gradient(rgb(129, 186, 232), rgb(74, 132, 203));
}

.button-ingredients {
    width: fit-content;
    position: relative;
    right: 0;
}

nav li::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    width: var(--header-arrow-width);
    height: var(--header-height);
    background: inherit;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    z-index: 1;
}

nav img {
    margin-right: 3px;
}

.stage-first>p {
    font-size: 14px;
    margin-left: 0;
}

.stage-first>img {
    left: 0;
    top: 0;
    margin-left: 0px;
    margin-right: 3px;
}

.stage-first::after {
    z-index: 2;
}


nav li.progress-inactive::before {
    content: "";
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background: rgb(67, 124, 181);
    position: relative;
    right: calc(var(--header-inner-padding) + 12px);
    width: calc(var(--header-arrow-width) + 1px);
    height: var(--header-height);
    display: inline-block;
}

/*  */
.main-1 {
    position: relative;
    top: -19px;
    height: 357px;
    background: url(images/lines.png) 0 19px, url(images/lines2.png) bottom right #e9e9e9;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: var(--main-1-paddings);
    border-left: 1px solid #a6acb2;
    border-right: 1px solid #a6acb2;
    border-bottom: 1px solid #a6acb2;
}

.breadcrumbs {
    display: none;
}

.breadcrumbs input {
    display: none;
}

.breadcrumbs input:checked~label {
    background: #fff;
    box-shadow: inset 1px 3px 4px 1px #9c9fa2;
}

.breadcrumbs li {
    height: calc(var(--breadcrumb-height));
    position: relative;
    padding: 1px;
    background: linear-gradient(#74787c, #b7bdc3);
    /* !!!! Второй градиент */
    background: linear-gradient(#579bd1, #2b5a94);

}

.breadcrumbs li:nth-child(1) {
    border-radius: 3px 0 0 3px;
}

.breadcrumbs li:nth-child(2) {
    border-radius: 0 3px 3px 0;
}


.breadcrumbs label {
    border-radius: 3px;
    width: var(--breadcrumb-width);
    height: var(--breadcrumb-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#8dc0e9, #4a84cb);
}

.cocktail-inputs {
    flex-grow: 1;
    margin-top: 2px;
}

.breadcrumbs {
    list-style-type: none;
    margin-right: 17px;
    margin-left: auto;
}

.main-1 input,
textarea {
    box-sizing: border-box;
    width: inherit;
    margin-left: 6px;
    margin-bottom: 8px;
    height: 30px;
}

.description {
    margin-bottom: 9px;
    flex: auto;
}

.cocktail-inputs input,
textarea {
    border-radius: 5px;
    border: 1px solid #8c969f;
}

.cocktail-inputs input::placeholder,
textarea::placeholder {
    padding: 5px;
    font-size: 11px;
}

.button-blue {
    position: relative;
    top: -1px;
    border: none;
    border-radius: 2px;
    width: 100%;
    background: linear-gradient(#8dc0e9, #4a84cb);
    color: var(--text-active);
}

.button-blue:hover {
    background: linear-gradient(#579bd1, #2b5a94);
    cursor: pointer;
}

.button-blue-container {
    border-radius: 2px;
    margin: 6px 2px 9px 2px;
    position: relative;
    padding: 1px;
    background: linear-gradient(#579bd1, #2b5a94);
}

.button-ingredients {
    height: 20px;
    color: var(--text-active);
    position: relative;

    font-size: 12px;
    width: 80px;
}

.button-upload {
    position: relative;
    top: -3px;
}

.button-ingredients-container {
    padding: 2px 0 0 0;
    height: 20px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: auto;
    width: 80px;
}

.instructions {
    margin-left: 2px !important;
    height: 99px !important;
    border-radius: 5px;
    border: 1px solid #8c969f;
}

.button-ingredients::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0px;
    right: -10px;
    width: var(--header-arrow-width);
    height: 20px;
    background: inherit;
    clip-path: polygon(0 0, 0% 100%, 75% 50%);
    z-index: 1;
}

.button-ingredients::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -1px;
    right: -10px;
    width: var(--header-arrow-width);
    height: 22px;
    background: linear-gradient(#579bd1, #2b5a94);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    z-index: 1;
}

.title-1 {
    padding-left: 3px;
    padding-bottom: 6px;
}

.title-1>h2 {
    align-self: flex-end;
    color: #505050;
    font-size: 13px;
    margin: 0;
    margin-left: 4px;
}